.cont {
}

.item {
  text-transform: uppercase;
  font-weight: bolder;
  padding: 10px 20px;
}

.item:hover {
  text-decoration: none;
}

@media screen and (max-width: 992px) {

  .cont {
    text-align: center;
    top: 75%;
  }

  .item {
    padding: 5px 10px;
  }

}

@media screen and (max-width: 375px) {
  .cont {
    top: 85%;
  }

  .item {
    font-size: smaller;
    padding: 5px 8px;
  }

}
