/**
 * React Static Boilerplate
 * https://github.com/koistya/react-static-boilerplate
 *
 * Copyright © 2015-2016 Konstantin Tarkus (@koistya)
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */

@import "../../../assets/sass-inc/common.scss";

.list {
    border-left: 2px solid #ddd;
}

.active {
    color: #337ab7;
    font-weight: bolder;
}

@media screen and (max-width: 1024px) {
    .list {
        border-left: none;
    }

    .content {
    }

}
