.fullHeight {
  height: 100%;
}

.pointer {
  cursor: pointer;
}

.middleWrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.middleContainer {
  display: table-cell;
  vertical-align: middle;
}